<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body{
      background-color: #66ffcc;
    }

    .header1 {
      text-align: center;
      font-size: 50px;
      width: 100%;
      background-color: #004d00;
    }

    .header1 > a {
      font-size: 50px;
      color: red;
    }

    .header1 a:hover {
      text-decoration: none;

      color: #000000;
    }

    h1 {
      text-align: center;
      font-size: 35px;
    }

    h2 {
      text-align: center;
      font-size: 32px;
    }

    #michelle {
      margin-left: 20px;
      width: 220px;
      height: 250px;
      position: relative;
      align-items: center;
      text-align: center;
      align-content: center;
    }

    p {
      font-size: 30px;
    }
    </style>
  </head>
  <body>
    <div class = "header1">
      <a href="/">Vino.</a>
    </div>
    <h1>Chateau St Michelle</h1>
    <h2>Washington, USA</h2>
    <img id="michelle" src="imgs/Chateau-Ste-Michelle.jpg">

    <p>Celebrating more than 50 years of winemaking. Since then, we have combined Old World winemaking traditions with New World innovation. In fact, Chateau Ste. Michelle is one of the few premium wineries in the world with two state-of-the-art wineries, one for red and one for white. The whites are made at the Chateau in Woodinville, WA, while the reds are made at our Canoe Ridge Estate winery in Eastern Washington.</p>


  </body>
</html>
