<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title></title>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
      <link rel="stylesheet" href="/css/home.css">

  </head>
  <body>
    <div class = "block1">
      <img src="/imgs/vineyard.jpg">
      <div class = "links">
        <a href="/session/new">Log In</a>
        <div class = "signUp">
        <a href="/users/new">Sign Up</a>
        </div>
        <div class = "text1">
          <h2>Vino.</h2>
          <h3>A weekly wine delivery service that enables wine producers to have their product sold and distributed around the world. </h3>
        </div>
      </div>

    </div>

    <div class = "block2">
      <div class = "homeButton">
        <a class="title" href="/">Vino.</a>
      </div>
      <div class = "links2">
        <a href="#">About Us</a>
        <a href="#">Amazon Distribution</a>
        <a href="#">Terms of Service</a>
      </div>
    </div>
      <h1>Our Suppliers:</h1>


      <div class = "cards1">
        <a href="/suppliers">
          <img id="crimes" src="imgs/19Crimes.jpg">
        </a>

        <a href="/suppliers2">
          <img id="Chateau" src="imgs/Chateau-Ste-Michelle.jpg">
        </a>

        <a href="/suppliers3">
          <img id="tail" src="imgs/yellow_tail.jpg">
        </a>

      </div>
      <nav>

      </nav>
      <!-- <div class = "bar1"> -->
        <!-- <h2>19 Crimes</h2> -->
        <!-- <h3>Australia</h3> -->

      <!-- </div> -->

      <!-- <div class = "bar2"> -->
        <!-- <h2>Yellow Tail</h2> -->
        <!-- <h3>Australia</h3> -->

      <!-- </div> -->

      <!-- <p>It’s the Industrial Revolution, people were increasingly moving to cities, prisons were overcrowded, and petty crime was on the rise. After the Revolution of 1776 prevented transportation to America, Queen Victoria decided banishment to Australia would solve these problems.</p>

      <p>Between 1788 and 1868, 165,000 convicts made the long voyage by sea to Australia. Times were tough for criminals, but these individuals were tougher. They survived the boat ride and the exile. Now their stories survive into the 21st century with 19 Crimes.</p> -->
  </body>
</html>
