<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <h1>Wine Index Page</h1>

    <ul>
      <% for(let i = 0; i < allWines.length; i++) { %>
        <li>
          <a href="/wines/<%=i%>"><%=allWines[i].name%></a>
        </li>
    <%  } %>
    </ul>
    <nav>
    <a href="/wines/new">Create a New Wine</a>
    </nav>
  </body>
</html>
