<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <h1>Wine Index Page</h1>

    <ul>
      <% for(let i = 0; i < wines.length; i++) { %>
        <li><%=wines[i].name; %></li>
     <% } %>
    </ul>
    <nav>
    <a href="/fruits/new">Create a New Fruit</a>
    </nav>
  </body>
</html>
