<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/app.css">  
  </head>
  <body>
    <h1>Wines Show Page</h1>
    The <%=wines.name; %> is <%=wines.color; %> and it is from <%=wines.country; %>.

    <a href="/wines">Back to Index</a>
  </body>
</html>
