<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="stylesheet" href="/css/app.css">   -->
  </head>
  <body>
    <h1>Wines Show Page</h1>
    The <%=wine.name; %> is <%=wine.color; %> and it is from <%=wine.country; %>.
    <nav>
    <a href="/wines">Back to Index</a>
  </nav>
  </body>
</html>
