<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css"> -->

    <style>
/* body {background-color: blue;} */
  </style>
  </head>
  <body>
    <h1>Your Wines</h1>

    <ul>
      <% for(let i = 0; i < wines.length; i++) { %>
        <li>
          <a href="/wines/<%=wines[i].id%>">
            <%=wines[i].name; %>
          </a>
          <form action="/wines/<%=wines[i].id; %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
          </form>
          <a href="/wines/<%=wines[i].id;%>/edit">Edit</a>
        </li>
     <% } %>

    </ul>
    <nav>

    <a href="/wines/new">Create a New Wine</a>
    </nav>


  </body>
</html>
