<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="stylesheet" href="/css/app.css"> -->
    <style>
      body {
        background-color: #ccffcc;
      }

      h1 {
        font-size: 40px;

      }

      .header1 {
        text-align: center;
        font-size: 50px;
        width: 100%;
        background-color: #004d00;
      }

      .header1 > a {
        font-size: 50px;
        color: red;
      }

      .header1 a:hover {
        text-decoration: none;

        color: #000000;
      }

      .form-control {
        display: block;
        width: 25%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.45;
        border: 1px solid #0099ff;
        border-radius: 5px;
      }

      #Upload {
        margin-top: 1%;
        background-color: #004d00;
        border: 1px solid #dcb239;
        box-shadow: 3px 3px 5px 0px grey;
        width: 150px;
        height: 50px;
        font-size: 25px;
        color: red;

      }

      #Upload:hover {
        background-color: #000000;
      }
    </style>

  </head>
  <body>
    <div class = "header1">
      <a href="/">Vino.</a>
    </div>
    <h1>Upload Your Product Here</h1>

    <form action="/wines" method="POST">
      Name: <input class="form-control" type="text" name="name"/><br/>
      Color: <input class="form-control" type="text" name="color"/><br/>
      Country: <input class="form-control" type="text" name="country"/><br/>
      Year: <input class="form-control" type="text" name="year"/><br/>
      Quantity: <input class="form-control" type="text" name="qty"/><br/>
      Price: <input class="form-control" type="text" name="price"/><br/>
      Alcohol: <input class="form-control" type="text" name="alcoholContent"/><br/>
      Description: <input class="form-control" type="text" name="description"/><br/>
      <input id="Upload" type="submit" value="Create Wine" />
    </form>
  </body>
</html>
